name: Auto Scrape Every 12 Hours

on:
   schedule:
      - cron: "0 */12 * * *" # Har 12 soatda
   workflow_dispatch: # Qo'lda ham ishga tushirsa bo'ladi

jobs:
   scrape:
      runs-on: ubuntu-latest

      steps:
         - name: Checkout repository
           uses: actions/checkout@v3

         - name: Set up Python
           uses: actions/setup-python@v4
           with:
              python-version: "3.11"

         - name: Install deps
           run: |
              cd scraper
              pip install -r requirements.txt
              playwright install --with-deps

         - name: Run scraper
           working-directory: scraper
           env:
              MONGO_URI: ${{ secrets.MONGO_URI }}
              MONGO_DB: "products_db"
           run: python auto_scrape.py
